<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Search Results</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><img src="../static/NFL.png" alt="NFL" class="logo" /></a>
      <a href="/">HOME</a>
      <h1>{{ voter }}'S VOTES</h1>
      <h2>Most Valuable Player:</h2>
      <h3>{{ MVP }}</h3>
      <h2>Offensive Player of the Year:</h2>
      <h3>{{ OPOY }}</h1>
      <h2>Defensive Player of the Year:</h2>
      <h3>{{ DPOY }}</h1>
      <h2>Offensive Rookie of the Year:</h2>
      <h3>{{ OROY }}</h3>
      <h2>Defensive Rookie of the Year:</h2>
      <h3>{{ DROY }}</h3>
    </div>
  </body>
</html>