<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Submissions</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><img src="../static/NFL.png" alt="NFL" class="logo" /></a>
      <a href="/">HOME</a>
      <h1>SUBMISSIONS</h1>
          <form action="/results" method="POST">
            <div class="form-group">
                <h2>Search Name:</h2>
                <input
                    type="text"
                    name="searchname"
                />
            </div>

          <input type="submit" value="SEARCH" class="btn" />
          </form>
      </div>
    </div>
  </body>
</html>